[Unit]
Description=Sleep-on-Lan

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/sleep-on-lan --log-file=/var/log/sleep-on-lan.log
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target